h1 {
  padding-bottom: 4px;
  margin: 0px;
  font-size: 32px;
}

h2 {
  padding-top: 0px;
  padding-bottom: 7px;
  margin: 0px 20px;
  font-size: 28px;
}

h3 {
  padding: 10px 0px;
  margin: 0px;
}

h4 {
  padding: 4px;
  margin: 0px 20px;
  line-height: 1.5em;
  font-size: 20px;
}

p {
  line-height: 1.5em;
}

.bottom-margin {
  height: 20vh;
  width: 100%;
}

.button {
  background-color: white;
  border: none;
  color: #004a75;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  max-width: 180px;
  font-size: 1rem;
  display: block;
  margin: auto;
  padding: 12px 12px;
  text-align: center;
}

 .button-contact {
   border: 2px solid #ffffff;
   color: white;
   background-color: transparent;
 }

 .button-contact:hover {
   background-color: white;
   color: #004a75;
 }
 
 .hero-shot {
  background-image: url("../public/work-desk__dustin-lee.jpg");
  width: 100%;
  height: auto;
  margin: auto;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  left: 0;
  right: 0;
}

.layer {
  background-color: rgba(0, 89, 141, 0.8);
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
}

.logo {
  height: 40px;
  width: 40px;
  margin: 25px;
}

.hello {
  padding-top: 10vh;
  margin: 0px 20px;
  color: white;
  font-weight: normal;
  text-align: center
}

.consult {
  color: white;
  text-align: center;
}

.shot {
  color: white;
  text-align: center;
  font-weight: normal;
  margin-bottom: 30px;
}

.panel {
  background-color: #f2f2f2;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10vh;
}

.panel-title {
  padding-top: 10vh;
  margin: 0px 20px;
  font-weight: normal;
  text-align: center;
}

.panel-desc {
  font-weight: normal;
  text-align: center;
  margin-bottom: 30px;
}

.grid-container {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: auto auto;
  background-color: #f2f2f2;
  padding: 10px;
  width: 100%;
  left: 0;
  right: 0;
}

.grid-item {
  background-color: rgba(242, 242, 242, 1);
  border: 1px solid rgba(210, 210, 210, 1);
  padding: 20px;
  text-align: left;
}

.grid-item-title {
  font-weight: normal;
  font-size: 30px;
}

.icon {
  color: #a1a1a1;
  float: right;
}

.footer {
  background-color: #004a75;
  padding: 30px;
}

.copyright {
  color: white;
  text-align: center;
  font-weight: normal;
}

.notification-panel {
  background-color: #f2f2f2;
  width: 100%;
  height: auto;
  position: static;
  top: 0;
}

.sticky {
 position: fixed;
 top: 0;
 width: 100%;
}

.notification-content {
  padding: 20px;
  display: flex;
  flex-direction: row;
  max-width: 720px;
  text-align: left;
}

.notification-desc {
  margin: auto;
  width: auto;
  padding-right: 10px;
}

.notification-link {
  text-decoration: none;
}

.notification-button {
 background-color: #007bc1;
 float: right;
 border: none;
 color: white;
 padding: 10px 20px;
 height: auto;
 width: 100px;
}

.close-notif {
  transform: translate3d(0, -100%, 0);
  transition: .3s ease-in-out;
}

.example-enter {
  height: 0px;
}

.example-enter.example-enter-active {
  height: 100px;
  -webkit-transition: height .3s ease;
}

.example-leave.example-leave-active {
  height: 0px;
  -webkit-transition: height .3s ease;
}

.newsletter-panel {
  background-color: rgba(0, 123, 193, 0.9);
  max-width: 640px;
  width: auto;
  height: auto;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 10px;
  display: none;
}

.newsletter-close {
  color: white;
  background-color: transparent;
  border: none;
  float: right;
  font-size: 20px;
}

.newsletter-title {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  color: white;
}

.newsletter-desc {
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

.newsletter-form {
  display: inline-block;
  max-width: 640px;
}

.newsletter-form input[type=email] {
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  width: 400px;
  border: none;
  background: white;
  padding: 10px;
  font-size: 14px;
}

.newsletter-button {
  width: 150px;
  height: auto;
  color: white;
  background-color: #cc6600;
  font-size: 14px;
  padding: 10px;
  border: none;
}

@media only screen and (min-width: 961px) {
	.grid-container {
      display: grid;
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      grid-template-columns: auto auto auto;
      background-color: #f2f2f2;
      padding: 10px;
    }
}

@media only screen and (max-width: 479px) {
	.grid-container {
      display: grid;
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      grid-template-columns: auto;
      background-color: #f2f2f2;
      padding: 10px;
    }
}

@media only screen and (max-width: 639px) {
  .notification-panel {
    background-color: #f2f2f2;
    width: 100%;
    height: auto;
    position: static;
    top: 0;
    left: 0;
    right: 0;
  }

  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
 
  .notification-content {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .notification-desc {
    width: 100%;
    box-sizing : border-box;
  }
 
  .notification-button {
   box-sizing : border-box;
   background-color: #007bc1;
   margin-top: 10px;
   border: none;
   color: white;
   padding: 10px 20px;
   height: auto;
   width: 100px;
  }

  .newsletter-panel {
    background-color: rgba(0, 123, 193, 0.9);
    width: auto;
    height: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
  }

  .newsletter-form {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: block;
  }
  
  .newsletter-form input[type=email] {
    box-sizing : border-box;
    margin: auto;
    border: none;
    background: white;
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }
  
  .newsletter-button {
    box-sizing : border-box;
    margin-top: 20px;
    width: 100%;
    height: auto;
    color: white;
    background-color: #cc6600;
    font-size: 14px;
    padding: 10px;
    border: none;
  }
}